@page "/"

<h1>Involved HexaMazeRetreat 15 oktober 2021</h1>

<p>Welkom op de Involved HexaMazeRetreat! Een variatie op onze oude MazeRetreat waarbij je een algoritme moet schrijven om de kortste route in een doolhof te bepalen.</p>

<img src="_api/images/level0" />