@using HexaMazeRetreat.Blazor.Helpers
@using HexaMazeRetreat.Domain.Contracts

@page "/level1"
@inject PlaysHelper _playsHelper
@inject NavigationManager _navigationManager

<h1>"level-1" - Introductie</h1>

<p><a href="_api/levels/level-1" target="_blank">Download level 1 JSON</a></p>

@if (_getPlayersResponse == null)
{
    <p><em>Bezig met laden van data...</em></p>
}
else if (_getPlayersResponse.Count == 0)
{
    <p><em>Nog geen spelers hebben deze level gespeeld!</em></p>
}
else
{
    <p>
        @foreach (var player in _getPlayersResponse)
        {
            var cssClass = $"solutionColor{player.Index}";
            <span class="@cssClass"> [ @player.PlayerName ] </span>
        }
    </p>
}

<img src="_api/images/level-1" />

@code
{
    private GetPlayersResponse _getPlayersResponse;

    protected override async Task OnInitializedAsync()
    {
        _getPlayersResponse = await _playsHelper.GetPlayersByLevel("level-1");

        _ = Task.Run(async () =>
        {
        await Task.Delay(10000);

            if (_navigationManager.Uri.Contains("level1"))
            {
                _navigationManager.NavigateTo("/level1", true);
            }
        });
    }
}