@using HexaMazeRetreat.Blazor.Helpers
@using HexaMazeRetreat.Domain.Contracts

@page "/level2"
@inject PlaysHelper _playsHelper

<h1>"level-2" - Een splitsing! Wat nu?</h1>

@if (_getPlayersResponse == null)
{
    <p><em>Bezig met laden van data...</em></p>
}
else if (_getPlayersResponse.Count == 0)
{
    <p><em>Nog geen spelers hebben deze level gespeeld!</em></p>
}
else
{
    <ul>
        @foreach (var player in _getPlayersResponse)
        {
            var cssClass = $"solutionColor{player.Index}";
            <li class="@cssClass">@player.PlayerName</li>
        }
    </ul>   
}

<img src="_api/images/level2" />

@code
{
    private GetPlayersResponse _getPlayersResponse;

    protected override async Task OnInitializedAsync()
    {
        _getPlayersResponse = await _playsHelper.GetPlayersByLevel("level-2");
    }
}