@using HexaMazeRetreat.Blazor.Helpers
@using HexaMazeRetreat.Domain.Contracts

@page "/level3"
@inject PlaysHelper _playsHelper
@inject NavigationManager _navigationManager

<h1>"level-3" - Dit lijkt al meer op een doolhof.</h1>

<p><a href="_api/levels/level-3" target="_blank">Download level 3 JSON</a></p>

@if (_getPlayersResponse == null)
{
    <p><em>Bezig met laden van data...</em></p>
}
else if (_getPlayersResponse.Count == 0)
{
    <p><em>Nog geen spelers hebben deze level gespeeld!</em></p>
}
else
{
    <p>
        @foreach (var player in _getPlayersResponse)
        {
            var cssClass = $"solutionColor{player.Index}";
            <span class="@cssClass"> [ @player.PlayerName ] </span>
        }
    </p>
}

<img src="_api/images/level-3" />

@code
{
    private GetPlayersResponse _getPlayersResponse;

    protected override async Task OnInitializedAsync()
    {
        _getPlayersResponse = await _playsHelper.GetPlayersByLevel("level-3");

        _ = Task.Run(async () =>
        {
            await Task.Delay(10000);

            if (_navigationManager.Uri.Contains("level3"))
            {
                _navigationManager.NavigateTo("/level3", true);
            }
        });
    }
}